# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
.next/

# Env files
.env
.env.*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraform.tfvars
*.tfvars
*.tfvars.json

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Misc
coverage/
dist/
build/

# Deployment artifacts
*.tar.gz
.zip

# Session Manager installer
session-manager-plugin-installation.log 
session-manager-plugin.deb

# Local packages
*.deb
